.visually-hidden {
  composes: visually-hidden from "../../../../styles/base.css";
}

.label {
  composes: label from "../../card/change-view/change-view.module.css";
}

.label-file {
  composes: label-file from "../../card/change-view/change-view.module.css";
}

.label > button {
  width: 100%;
}

.label-text {
  composes: label-text from "../../card/change-view/change-view.module.css";
}

.label-file .label-text {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}

.input {
  composes: input from "../../card/change-view/change-view.module.css";
}

.input:focus {
  border-color: black;
  outline: none;
}

.input[type="file"] {
  display: none;
}

.buttons {
  composes: buttons from "../../card/change-view/change-view.module.css";
}

.buttons button {
  padding: 5px;
  font-size: 1rem;
}

.btn {
  composes: btn from "../../card/change-view/change-view.module.css";
}

.btn-text {
  composes: btn-text from "../../card/change-view/change-view.module.css";
}

.btn:hover {
  box-shadow: 0 0 40px 40px var(--admin) inset, 0 0 5px 1px var(--admin);
  color: var(--font-light);
}

.btn:active {
  opacity: 0.8;
}
