@import "../../styles/vars.css";

.page {
  max-width: var(--xl);
  margin: 0 auto;
  background-color: var(--background-default);
  overflow: hidden;
}

.inner {
  position: relative;
  top: 0;
  left: -190px;
  display: flex;
  height: 100vh;
  transition: var(--transition-navbar);
}

.wrapper {
  flex-grow: 1;
  padding: 0 25px;
}

.navbar-shown {
  left: 0;
}
