.page {
  min-width: var(--lg);
  max-width: var(--xl);
  margin: 0 auto;
  background-color: var(--background-default);
  overflow: hidden;
}

.noscroll {
  overflow: hidden;
}

.inner {
  position: relative;
  top: 0;
  left: calc(var(--nav) * -1 / 2);
  display: flex;
  min-height: 100vh;
  transition: var(--transition-navbar);
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 40px;
}

.wrapper {
  flex-grow: 1;
  padding: 0 25px;
}

.navbar-shown {
  left: 0;
}
