.list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  min-height: var(--card-height);
  list-style-type: none;
}
