.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.screen::after {
  content: "";
  position: absolute;
  top: -140px;
  left: -405px;
  width: 100vw;
  height: 100vh;
}

.text {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 2.6rem;
  text-shadow: 1px 1px white, 2px 2px #777;
  text-transform: uppercase;
}

.text-success {
  color: #61d761;
}

.text-failure {
  color: #eb4a4a;
}
