.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: var(--i-modal);
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.show {
  visibility: visible;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 5px 10px 3px rgb(0 0 0 / 35%);
  background-color: rgb(255 255 255 / 90%);
  transform: translateY(20%);
  opacity: 0;
  transition: var(--transition-modal);
}

.show .content {
  transform: translateY(0);
  opacity: 1;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.label-text {
  margin-bottom: 10px;
  font-size: 1rem;
  color: var(--form);
}

.input {
  margin-bottom: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--form);
}

.input:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 25px 20%;
  margin-top: 30px;
  background: var(--gradient-train);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.play {
  background: var(--gradient-play);
}
