.navbar {
  position: relative;
  top: 0;
  left: -185px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 375px;
  padding: 60px;
  background: var(--gradient-train);
  transition: var(--transition-navbar);
}

.play {
  background: var(--gradient-play);
}

.navbar-shown {
  left: 0;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  margin-bottom: 20px;
  list-style-type: none;
}

.item:first-of-type {
  position: relative;
  margin-bottom: 60px;
}

.item:first-of-type::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--background-default);
}

.item:last-of-type {
  margin-bottom: 0;
}

.link {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  transition: var(--transition-hover);
}

.link:hover {
  opacity: 0.8;
}

.link:active {
  opacity: 0.6;
}
