.label {
  composes: label from "../../category/rename-view/rename-view.module.css";
}

.label-text {
  composes: label-text from "../../category/rename-view/rename-view.module.css";
}

.input {
  composes: input from "../../category/rename-view/rename-view.module.css";
}

.input:focus {
  border-color: black;
  outline: none;
}

.buttons {
  composes: buttons from "../../category/rename-view/rename-view.module.css";
}

.buttons button {
  padding: 5px;
  font-size: 1rem;
}
