.list {
  composes: list from "../../main-page/categories/categories.module.css";
  padding: 70px 190px 0;
}

.item {
  composes: item from "../../main-page/categories/categories.module.css";
  min-height: 360px;
}
