@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../assets/fonts/roboto-v30-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
