:root {
  /* colors */
  --gradient-train: linear-gradient(180deg, #0099ae 0%, #00bf82 100%);
  --gradient-play: linear-gradient(40deg, #ffd86f, #fc6262);
  --hamburger: #c8c8c8;
  --background-default: #fff;
  --form: #3f51b5;
  --admin: #00bf82;

  /* breakpoints */
  --sm: 576px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1440px;

  /* transitions */
  --transition-navbar: left, 400ms linear;
  --transition-hover: all, 200ms ease;

  /* shadows */
  --shadow: 0 4px 4px rgb(0 0 0 / 25%);

  /* width */
  --nav: 380px;
}
