:root,
::after,
::before {
  /* colors */
  --primary-train: #00bf82;
  --secondary-train: #0099ae;
  --primary-play: #fc6262;
  --secondary-play: #ffd86f;
  --hamburger: #c8c8c8;
  --background-default: #fff;
  --form: #3f51b5;
  --admin: #00bf82;
  --font-light: #fff;
  --font-dark: #000;
  --font-cancel: #e53935;

  /* gradients */
  --gradient-train: linear-gradient(
    210deg,
    var(--secondary-train),
    var(--primary-train)
  );
  --gradient-train-reverse: linear-gradient(
    210deg,
    var(--primary-train),
    var(--secondary-train)
  );
  --gradient-play: linear-gradient(
    210deg,
    var(--secondary-play),
    var(--primary-play)
  );
  --gradient-play-reverse: linear-gradient(
    210deg,
    var(--primary-play),
    var(--secondary-play)
  );

  /* breakpoints */
  --sm: 576px;
  --md: 768px;
  --lg: 1200px;
  --xl: 1440px;

  /* transitions */
  --transition-navbar: left, 400ms linear;
  --transition-hover: all 150ms ease-in-out;
  --transition-modal: all 300ms;

  /* shadows */
  --shadow: 0 4px 4px rgb(0 0 0 / 25%);
  --shadow-hover: 0 5px 5px rgb(0 0 0 / 50%);

  /* width, height */
  --nav: 380px;
  --card-height: 220px;

  /* z-index */
  --i-overlay: 5;
  --i-modal: 10;
}
