.button {
  position: absolute;
  top: 5px;
  right: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button-image {
  width: 20px;
  height: 20px;
}

.button-image path {
  fill: #5f6368;
  stroke: #5f6368;
  transition: var(--transition-hover);
}

.button:hover path {
  fill: var(--font-cancel);
  stroke: var(--font-cancel);
}

.button:active .button-image {
  transform: scale(0.9);
}

.button:active path {
  opacity: 0.8;
}

.inner {
  overflow-x: scroll;
}

.inner::-webkit-scrollbar {
  height: 5px;
}

.inner::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #030a0f;
}

.inner::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgb(34 60 80 / 20%) inset;
  border-radius: 5px;
  background-color: #f9f9fd;
}

.name {
  margin: 0;
  margin-top: 10px;
  padding: 0 5px;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;
}

.words {
  margin: 0;
  margin-left: 20px;
}

.words-number {
  margin: 0;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 5px;
  font-size: 1rem;
}
