.button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button-image {
  width: 43px;
  height: 43px;
  object-fit: cover;
  object-position: 50%;
}

.name {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  align-self: center;
  text-transform: capitalize;
}

.words {
  margin: 0;
  margin-left: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
}

.words-number {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  height: auto;
}
