.category {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: var(--card-height);
  padding: 20px;
  border-radius: 5px;
  border: 3px solid grey;
}

.title {
  margin: 0;
  font-weight: 700;
  text-align: center;
}

.button {
  padding: 0;
  margin-top: auto;
  margin-bottom: 15px;
  align-self: center;
  border: none;
  background-color: transparent;
  transition: var(--transition-hover);
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}

.button-image {
  width: 80px;
  height: 80px;
}

.circle {
  fill: grey;
  transition: var(--transition-hover);
}

.plus {
  fill: grey;
  transition: var(--transition-hover);
  transform-origin: center;
}

.button:hover .circle {
  fill: black;
}

.button:hover .plus {
  fill: black;
  transform: scale(1.1);
}
