.label {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.label-text {
  margin-top: 20px;
  margin-bottom: 25px;
  color: var(--form);
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--form);
}

.input:focus {
  border-color: black;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 5px;
  font-size: 1rem;
}
