.button {
  position: absolute;
  bottom: -80px;
  right: 0;
  width: 60px;
  height: 60px;
  font: 700 16px/20px Roboto, sans-serif;
  text-transform: uppercase;
  color: white;
  background: var(--gradient-play);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition-hover);
}

.button:hover {
  opacity: 0.8;
}
