.card {
  composes: category from "../category/category.module.css";
  min-height: 360px;
  font-size: 1rem;
}

.title {
  composes: title from "../new-category/new-category.module.css";
  font-size: 1.375rem;
}

.button {
  composes: button from "../new-category/new-category.module.css";
  margin-bottom: 60px;
}

.button:active {
  transform: scale(0.9);
}

.button-image {
  width: 110px;
  height: 110px;
}

.circle {
  composes: circle from "../new-category/new-category.module.css";
}

.plus {
  composes: plus from "../new-category/new-category.module.css";
}

.button:hover .circle {
  fill: black;
}

.button:hover .plus {
  fill: black;
  transform: scale(1.1);
}
