.header {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  min-height: 100px;
  background: var(--gradient-train);
}

.list {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
}

.item {
  list-style-type: none;
}

.text {
  color: var(--font-light);
  cursor: default;
}

.active {
  text-decoration: underline;
}

.button {
  margin-left: auto;
}

.button button {
  padding: 15px 50px;
}
