.card {
  position: relative;
  width: 300px;
  height: 400px;
  padding: 25px;
  border-radius: 5px;
  border: 3px solid grey;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button-image {
  width: 43px;
  height: 43px;
  object-fit: cover;
  object-position: 50%;
}

.text {
  margin-bottom: 10px;
  font-weight: 900;
}

.text span {
  font-weight: 400;
}

.image {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  height: 175px;
}

.image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 50% 50%;
}

.label {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10px;
}

.label > button {
  width: 100%;
}

.label-text {
  margin-bottom: 10px;
  color: var(--form);
}

.input {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  border: none;
  border-bottom: 2px solid var(--form);
}

.input[type="file"] {
  display: none;
}

.buttons {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  height: auto;
  width: 40%;
}

.card > button:last-child {
  width: 100%;
  min-height: 50px;
}

.btn {
  padding: 0;
  padding: 5px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--admin);
  border: none;
  border: 2px solid var(--admin);
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-hover);
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}
