.button {
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: white;
  border: none;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-hover);
}

.button-login {
  width: 100%;
  height: 60px;
  margin-top: auto;
  padding: 15px;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
}

.button-cancel,
.button-submit {
  width: 40%;
  height: 50px;
}

.button-cancel {
  background-color: #e53935;
}

.button-logout {
  font-size: 22px;
  line-height: 1.2;
  border: none;
}

.button-admin {
  width: 40%;
  padding: 5px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--admin);
  border-color: var(--admin);
}

.button-login:hover,
.button-cancel:hover,
.button-logout:hover,
.button-admin:hover,
.button-submit:hover {
  opacity: 0.8;
}

.button-login:active,
.button-cancel:active,
.button-logout:active,
.button-admin:active,
.button-submit:active {
  opacity: 0.6;
}
